<!-- <h1 mat-dialog-title>You are from {{data.name}}</h1>

<div mat-dialog-content>

    <p>What's your favorite city?</p>
    <mat-form-field>
        <mat-label>Favorite City</mat-label>
        <input matInput [(ngModel)]="data.city">
    </mat-form-field>

    <p>Your favorite food?</p>
    <mat-form-field>
        <mat-label>Favorite Food</mat-label>
        <input matInput [(ngModel)]="food">
    </mat-form-field>

</div>


<div mat-dialog-actions>
    
    <button mat-button (click)="onNoClick()">Get Food</button>
    <button mat-button [mat-dialog-close]="data.city" cdkFocusInitial>Get City</button>
</div> -->

<div class="alert alert-primary" role="alert">
    Elija su cita, por favor.
  </div>
<div mat-dialog-actions mat-button>

 
  <button
     *ngIf="mostrar[0]"
    color="primary"
    mat-raised-button
    (click)="obtenerHora('8:00')"
  >
    8:00
  </button>
  <button
    *ngIf="mostrar[1]"
    color="primary"
    mat-raised-button
    (click)="obtenerHora('9:00')"
  >
    9:00
  </button>
  <button
    *ngIf="mostrar[2]"
    color="primary"
    mat-raised-button
    (click)="obtenerHora('10:00')"
  >
    10:00
  </button>

  <button *ngIf=" mostrar[0] || mostrar[1] || mostrar[2]"

  color="primary"
  mat-raised-button
  (click)="Cancelar('')"
  >
   Cancelar
  </button>


</div>

<div  *ngIf=" !mostrar[0] && !mostrar[1] && !mostrar[2]" class="alert alert-danger" role="alert">
  No hay citas para este dia.
</div>


